---
import type { CollectionEntry } from "astro:content";
import { getCollection } from "astro:content";
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import dayjs from 'dayjs';
import { loadDefaultJapaneseParser } from 'budoux';

type Props = {
  post: CollectionEntry<'articles'>;
};

export async function getStaticPaths() {
  global.data = global.data ? global.data : await getCollection('articles');
  return global.data.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await post.render();

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const pathName = canonicalURL.pathname.split('/').join('');
const parser = loadDefaultJapaneseParser();

const gitHubLink = `https://github.com/yamanoku/2023/issues/new?title=「${post.data.title}」の修正依頼&labels=feedback&body=URL：https://2023.yamanoku.net/${pathName}%0A修正依頼内容：%0A`;
const twitterLink = `https://twitter.com/intent/tweet?url=https://2023.yamanoku.net/${pathName}&text=@yamanoku`;
---

<html lang="ja">
  <head>
    <BaseHead title={`${post.data.title} | yamanoku Advent Calendar 2023`} description={post.data.description} />
    <style is:global>
      @tailwind components;
      @layer components {
        .footnotes {
          @apply relative pt-y-rhythm-3 before:content-[''] before:absolute before:top-0 before:left-0 before:w-full before:h-[1px] before:bg-y-arcticle-border-color;
        }
        .footnotes li p {
          @apply m-0;
        }
      }
    </style>
  </head>

  <body>
    <Header />
    <main>
      <article>
        <div>
          <time datetime={dayjs(post.data.date).format('YYYY-MM-DD')}>{dayjs(post.data.date).format('YYYY-MM-DD')}</time>
        </div>
        <h1 class="title" set:html={parser.translateHTMLString(post.data.title)} />
        <p>この記事は<a href="https://adventar.org/calendars/8589">yamanoku Advent Calendar 2023</a>の{dayjs(post.data.date).format('D')}日目の記事になります。</p>
        <Content />
      </article>
      <details>
        <summary>この記事に関する修正依頼</summary>
        <ul>
          <li>
            <a href={gitHubLink} target="_blank">
              GitHub Issueを作成する
            </a>
          </li>
          <li>
            <a href={twitterLink} target="_blank">
              著者にポストする
            </a>
          </li>
        </ul>
      </details>
      <a href="/">トップへ戻る</a>
    </main>
    <Footer />
  </body>
</html>
