---
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from '../config'
import dayjs from 'dayjs'

import { getCollection } from 'astro:content';
const posts = (await getCollection('articles')).sort(
  (a, b) =>
    new Date(a.data.date).valueOf() -
    new Date(b.data.date).valueOf()
);
---

<!DOCTYPE html>
<html lang="ja">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <main>
      <h1>yamanoku Advent Calendar 2023</h1>
      <p>
        このサイトは<a href="https://adventar.org/calendars/8589">yamanoku Advent Calendar 2023</a>の記事をまとめたサイトです。
      </p>
      <h2>記事一覧</h2>
      <table>
        <thead>
          <tr>
            <th>日付</th>
            <th>記事タイトル</th>
          </tr>
        <tbody>
          {
            posts.map((post) => (
              <tr>
                <td>
                  <time datetime={dayjs(post.data.date).format('YYYY-MM-DD')}>
                    <span class="break-keep [overflow-wrap:anywhere]">
                      {dayjs(post.data.date).format('MM月')}<wbr />
                      {dayjs(post.data.date).format('D日')}<wbr />
                    </span>
                  </time>
                </th>
                <td>
                  <a href={post.slug}>{post.data.title}</a>
                </td>
              </tr>
            ))
          }
        </tbody>
      </ul>
    </main>
    <Footer />
  </body>
</html>
